@charset "UTF-8";



.about{
	text-align: center;
	padding-top: 5%;
	margin-bottom:50%;
	background-color: #000000;
	
}

.about:hover{
	cursor: pointer;
}

.aboutImage{
	width: 100%;
	height: auto;
}

.aboutFont{
	font-size: 1.3rem;
	font-family : nanum;
	
}
