@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-touch-callout:none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-size:62.5%;
}

img{
	border:0;
	pointer-events : none;
}

@font-face {
	font-family: "viceCitySans" ;
	src : url("./font/ViceCitySans.otf") format("opentype");
}

@font-face {
	font-family: "maruBuri" ;
	src : url("./font/MaruBuri-Regular.otf") format("opentype");
}

@font-face {
	font-family: "nanum" ;
	src : url("./font/NanumSquareR.otf") format("opentype");
}

.header{
	height : 8vh;
	z-index : 1;
	width: 100%;
	position: relative;
}

.body{
	width: 100%;
}

.footer {
	min-height : 300px;
	width: 100%;
	}
	
	
@media screen and (min-width: 1024px) {
    html {
        font-size:62.5%;
    }
}
	
@media screen and (min-width: 768px) and (max-width:1023px) {
    html {
        font-size:50%;
    }
}

@media screen and (min-width: 480px) and (max-width:767px) {
    html {
        font-size:40%;
    }
}

@media screen and (max-width: 479px) {
    html {
        font-size:30%;
    }
}